# Gradle
*.iml
.gradle/
local.properties
/build

# IDE
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.gitignore

# OS
.DS_Store

# Build outputs
/captures
.externalNativeBuild
.cxx

# App build outputs
app/build/
